* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Commissioner', sans-serif;
    background-color: #00B2A9;
}

.container {
    min-height: 90vh;
    background-color: #00B2A9;
}

header {
    display: flex;
    justify-content: left;
    background-color: #007771;
    align-items: left;
}

h1 {
    margin: 0 auto;
    background-color: white;
    padding: 23px;
}

#hello {
    text-align: center;
    color: white;
    font-size: 50px;
}

.logo {
    text-align: left;
    background: white;
}

p {
    text-align: center;
    color: white;
    font-size: 30px;
}

#homepage {
    grid-column: 1;
    font-weight: 600;
    font-size: xx-large;
    color: #00B2A9;
}

.intro {
    color: white;
    margin: 20px 40px;
    background-color: #007771;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    text-align: right;
}

.stadiumPic {
    height: 40%;
    width: 40%;
    margin-left: 30%;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

.leagues{
    display: hidden;
}

.allLeagues {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px;
}

.leagueDiv {
    background-color: darkslategray;
    color: white;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}

.leagueDiv:hover{
    color: gold;
}

.team{
    display: hidden;
}

.allTeams {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 30px;
}

.allTeams img {
    height: auto;
    width: 50%;
    margin: 0 auto;
}

.allTeams div {
    background-color: #007771;
    margin: 10px;
    padding: 0 20px 20px 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    color: white;
}

.allTeams div:hover {
    color: gold;
}

.teamBanner {
    width: 100vw;
    height: auto;
}

.teamDetails {
    color: white;
    padding: 20px 5px 0 5px;
    text-align: center;
    font-size: 25px;
    margin: 20px;
    background-color: #007771;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

.events {
    background-color: white;
    height: 75%;
    width: 75%;
    position: absolute;
    right: 0;
}

footer {
    grid-column-end: span 2;
}

a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.links {
    position: relative;
    display: flex;
    justify-content: center;
}

#backLink {
    font-size: 20px;
    margin-top: 30px;
    margin-right: 20px;
}

.sportDiv {
    display: grid;
    grid-template-columns: 1fr;
}

.sportTab {
    color: white;
    margin: 20px 40px;
    background-color: #007771;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    text-align: right;
}

.sportTab h2 {
    font-size: 40px;
    margin: 0;
    text-align: left;
}

.sportImage {
    text-align: right;
    margin-left: auto;
    margin-right: 0;
    margin-top: -40px;
    display: inline;
    height: 15vh;
    width: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

.summary {
    display: none;
    font-size: 28px;
    text-align: left;
}

.leaguesBtn {
    display: none;
    padding: 20px;
    margin: 10px auto;
    color: white;
    background-color: darkslategray;
    border-radius: 10px;
    font-size: 20px;
}