* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Commissioner', sans-serif;
    background-color: #00B2A9;
}

.container {
    min-height: 90vh;
    background-color: #00B2A9;
}

header {
    display: flex;
    justify-content: left;
    background-color: #007771;
    align-items: left;
}

h1 {
    margin: 0 auto;
    background-color: white;
    padding: 23px;
}

h2 {
    text-align: center;
    color: white;
    font-size: 50px;
}

.logo {
    text-align: left;
    background: white;
}

#homepage {
    grid-column: 1;
    font-weight: 600;
    font-size: xx-large;
    color: #00B2A9;
}

.leagues{
    display: hidden;
}

.allLeagues {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px;
}

.leagueDiv {
    background-color: darkslategray;
    color: white;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}

.leagueDiv:hover{
    color: gold;
}

.team{
    display: hidden;
}

.allTeams {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 30px;
}

.allTeams img {
    height: auto;
    width: 50%;
    margin: 0 auto;
}

.allTeams div {
    background-color: #007771;
    margin: 10px;
    padding: 0 20px 20px 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    color: white;
}

.allTeams div:hover {
    color: gold;
}

.teamBanner {
    width: 100vw;
    height: auto;
}

.teamDetails {
    color: white;
    padding: 20px 5px 0 5px;
    text-align: center;
    font-size: 25px;
    margin: 20px;
    background-color: #007771;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

.events {
    background-color: white;
    height: 75%;
    width: 75%;
    position: absolute;
    right: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}

footer {
    grid-column-end: span 2;
}

/* starting to try the hover dropdown menu styling */

a {
    color: white;
    text-decoration: none;
    font-size: 30px;

}

.links {
    position: relative;
    display: inline-block;
    padding: 1em;
    display: flex;
    justify-content: center;
}

select {
    padding:1em;
}

select option {
    padding:1em;
}

.search {
    display: flex;
    flex-wrap: wrap;
}

.search .search-result {
    background-color: #fafafa;
    text-align: center;
    border:1px solid #bdbdbd;
    border-radius: 4px;
    width: 60%;
    margin: 1em auto;
}

.sports{
    /* display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3; */
}

.sportDiv{
    display: grid;
    grid-template-columns: 1fr;
}

.sportTab {
    color: white;
    margin: 20px 40px;
    background-color: #007771;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    text-align: right;
}

.sportTab h2 {
    font-size: 40px;
    margin: 0;
    text-align: left;
}

.sportImage {
    text-align: right;
    margin-left: auto;
    margin-right: 0;
    margin-top: -40px;
    display: inline;
    height: 15vh;
    width: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

.summary {
    display: none;
    font-size: 28px;
    text-align: left;
}

.leaguesBtn {
    display: none;
    padding: 20px;
    margin: 10px auto;
    color: white;
    background-color: black;
    border-radius: 10px;
    font-size: 20px;
}

.list {
    list-style-type: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.dropdown:hover .dropdown-content1 {
    display: block;
}

.dropdown:hover .dropdown-content2 {
    display: block;
}

.dropdown:hover .dropdown-content3 {
    display: block;
}

.dropdown-content1 a:hover {
    background-color: #f1f1f1;
}

.dropdown-content2 a:hover {
    background-color: #f1f1f1;
}

.dropdown-content3 a:hover {
    background-color: #f1f1f1;
}

.dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content3 a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown {
    padding: 1em;
    display: flex;
    justify-content: center;
}